{
"name": "{{ data.name if data.name else 'unnamed' }}",
"ram": {{ data.ram if data.ram else 1 }},
"disk": {{ data.disk if data.disk else 0 }},
"vcpus": {{ data.vcpus if data.vcpus else 1 }},
{% if data.swap is defined %}
"swap": {{ data.swap }},
{% endif %}
{% if data.ephemeral is defined %}
"OS-FLV-EXT-DATA:ephemeral": {{ data.ephemeral }},
{% endif %}
{% if data.rxtx_factor is defined %}
"rxtx_factor": {{ data.rxtx_factor | float }},
{% endif %}
{% if data.ID %}
    "id": "{{ data.ID }}",
{% endif %}
"confirm": null
}
